---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BaseLayout from '@src/layouts/BaseLayout.astro';
import { slugify, unslugify } from '@src/lib/utils';
import Posts from '@src/components/sections/Posts.astro';

type BlogPost = CollectionEntry<'blog'>;
export const getStaticPaths = async () => {
	const allPosts: BlogPost[] = await getCollection('blog');
	return [
		...new Set(
			allPosts
				.map((post) => post.data.tags)
				.flat()
				.filter((tag) => !!tag)
		)
	].map((tag) => ({ params: { tag: slugify(tag || '') } }));
};

const { tag } = Astro.params;
const title = `All Posts Tagged with ${unslugify(tag || '')}`;
const description = `All Posts Tagged with ${unslugify(tag || '')}`;
---

<BaseLayout title={title} description={description}>
	<div class='container'>
		<div class='max-w-screen-md mx-auto'>
			<Posts tag={tag} />
		</div>
	</div>
</BaseLayout>
