---
import Section from '../Section.astro';
---

<Section className={'pt-6 pb-0'} title='About'>
	<p class='-mt-6 text-sm opacity-75'>
		With 6 years of experience, I specialize in crafting scalable web applications.
		<br />
		Experienced in both <span class='text-skin-hue text-base'>Backend</span> and <span class='text-base text-skin-hue'>Frontend</span> web development,
		along with managing <span class='text-skin-hue text-base'>Infrastructure</span> and <span class='text-skin-hue text-base'>CI/CD</span>.
	</p>
</Section>
