---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import PostCard from '../PostCard.astro';
import Section from '../Section.astro';
import { slugify } from '@src/lib/utils';

interface Props {
	tag?: string;
	className?: string;
}

type BlogPost = CollectionEntry<'blog'>;

const { tag } = Astro.props;
let posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
if (tag) {
	posts = posts.filter((post) => post.data.tags?.map((tag) => slugify(tag)).includes(tag || ''));
}
---

<Section id='posts' className={Astro.props.className} title='Posts'>
	<div class='grid gap-4 grid-cols-1 items-stretch lg:gap-y-8 sm:grid-cols-2'>
		{posts.map((post: BlogPost) => <PostCard post={post} />)}
	</div>
</Section>
