---
import 'hotkeypad/reset.css';
import 'hotkeypad/index.css';
import { CV } from '@src/cv';
import { Icon } from 'astro-icon/components';

const basics = CV.basics;
const { profiles } = basics;

const SOCIAL_ICONS: Record<string, string | any> = {
	GitHub: `<svg width="100%" height="100%" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub</title><path fill="currentColor" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path></svg>
`,
	QQ: `
	<svg
  xmlns='http://www.w3.org/2000/svg'
  width='100%'
  height='100%'
  viewBox='0 0 24 24'
  ><g fill='none'
    ><path
      d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'
    ></path><path
      fill='currentColor'
      d='M12 2a6.285 6.285 0 0 0-6.276 5.937l-.146 2.63a28 28 0 0 0-.615 1.41c-1.24 3.073-1.728 5.773-1.088 6.032c.335.135.913-.426 1.566-1.432a6.67 6.67 0 0 0 1.968 3.593c-1.027.35-1.91.828-1.91 1.33c0 .509 2.48.503 4.239.5h.001c.549-.002 1.01-.008 1.38-.057a6.7 6.7 0 0 0 1.76 0c.37.05.833.055 1.382.056c1.76.004 4.239.01 4.239-.499c0-.502-.883-.979-1.909-1.33a6.67 6.67 0 0 0 1.967-3.586c.65 1.002 1.227 1.56 1.56 1.425c.64-.259.154-2.96-1.088-6.032a28 28 0 0 0-.607-1.395l-.147-2.645A6.285 6.285 0 0 0 12 2'
    ></path></g
  ></svg
>
`,
	Linkedin: `
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path fill="currentColor" d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"/></svg>
`,
	Personal: `
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path fill="currentColor" d="M14 2H6c-1.11 0-2 .89-2 2v16c0 1.11.89 2 2 2h12c1.11 0 2-.89 2-2V8zm-2 17l-4-4h2.5v-3h3v3H16zm1-10V3.5L18.5 9z"/></svg>
`
};

let profilesInfo = profiles.map(({ network, url }) => {
	const icon = SOCIAL_ICONS[network];
	const firstLetter = network[0].toUpperCase();

	return {
		id: network,
		section: 'Social',
		title: `Visit ${network}`,
		url,
		icon,
		hotkey: `ctrl+${firstLetter}`
	};
});
//remove the pdf link from the actions
profilesInfo.pop();
---

<!-- <footer id='normal-footer' class='print:hidden flex flex-col gap-2'> --><!-- 	<div> --><!-- 		Press <kbd>Cmd</kbd> + <kbd>K</kbd> to open the command palette. --><!-- 	</div> --><!-- </footer> -->
<div class='footer-button print:hidden'>
	<Icon name='ri:command-fill' width={20} height={20} class='text-skin-hue' />
</div>

<div id='hotkeypad' data-placeholder='Search Command' data-info={JSON.stringify(profilesInfo)}></div>

<script>
	interface Info {
		id: string;
		section: string;
		title: string;
		url: string;
		icon: string;
		hotkey: string;
		handler?: () => void;
	}

	import HotKeyPad from 'hotkeypad';

	const hotkeypad = new HotKeyPad();
	const info = hotkeypad.instance.getAttribute('data-info') ?? '[]';
	const parsedInfo = JSON.parse(info) as Info[];

	const data = parsedInfo.map(({ url, hotkey, icon, id, section, title }) => {
		return {
			id,
			title,
			icon,
			hotkey,
			section,
			handler: () => {
				window.open(url, '_blank');
			}
		};
	});
	hotkeypad.setCommands([
		{
			id: 'print',
			title: 'Get Resume',
			icon: `<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path fill="currentColor" d="M14 2H6c-1.11 0-2 .89-2 2v16c0 1.11.89 2 2 2h12c1.11 0 2-.89 2-2V8zm-2 17l-4-4h2.5v-3h3v3H16zm1-10V3.5L18.5 9z"/></svg>`,
			hotkey: 'ctrl+P',
			section: 'Actions',
			handler: () => {
				const url = 'https://app.enhancv.com/share/7f3826cd/?utm_medium=growth&utm_campaign=share-resume&utm_source=dynamic';
				window.open(url, '_blank');
			}
		},
		...data
	]);

	const footerButtons = document.querySelectorAll('.footer-button');
	footerButtons.forEach((button) => {
		button.addEventListener('click', () => {
			let event = new KeyboardEvent('keydown', {
				key: 'K',
				code: 'KeyK',
				keyCode: 75,
				which: 75,
				ctrlKey: true,
				altKey: false,
				shiftKey: false,
				metaKey: false
			});
			document.dispatchEvent(event);
		});
	});
</script>

<style>
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@media (min-width: 601px) {
		.footer-button {
			display: none;
		}
	}

	@media (max-width: 600px) {
		#normal-footer {
			display: none;
		}

		.footer-button {
			background: #fff;
			position: fixed;
			border: 1px solid #eee;
			right: 10px;
			bottom: 10px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	}

	footer {
		/* @apply bg-skin-button-accent; */
		background: rgba(var(--color-fill), 0.9);
		backdrop-filter: blur(15px);
		position: fixed;
		bottom: 0px;
		width: 100%;
		padding-block: 8px;
		text-align: left;
		padding-left: 8rem;
		font-size: 0.85rem;

		view-timeline-name: --revealing;
		view-timeline-axis: block;

		animation: linear 0.3s fadeIn;
		animation-timeline: --revealing;
		animation-range: entry 100% cover 10%;
	}
	kbd {
		@apply bg-skin-muted;
		border-radius: 4px;
		padding: 2px 4px;
		font-size: 12px;
	}
	#hotkeypad {
		--hotkeypad-bg-kbd: rgb(var(--muted));
		--hotkeypad-bg-backdrop: rgb(var(--color-fill));
		--hotkeypad-bg-container: rgb(var(--color-fill));
		--hotkeypad-bg-item-hover: rgba(var(--color-text), 20%);
		--hotkeypad-border-container: rgb(var(--muted));
		--hotkeypad-border-container-hover: rgb(var(--color-fill));
		--hotkeypad-fg-muted: rgb(var(--muted));
		@media (prefers-color-scheme: dark) {
			--hotkeypad-bg-kbd: rgb(var(--muted));
			--hotkeypad-bg-backdrop: rgb(var(--color-fill));
			--hotkeypad-bg-container: rgb(var(--color-fill));
			--hotkeypad-bg-item-hover: rgba(var(--color), 5%);
			--hotkeypad-border-container: rgb(var(--muted));
			--hotkeypad-border-container-hover: rgb(var(--color-fill));
			--hotkeypad-fg-muted: rgb(var(--color-text-base));
		}
	}
</style>
